Build/*

.idea/*
tags/

External/*
!External/CMakeLists.txt
!External/glad
!External/stb
!External/imgui
!External/ImGuizmo

*.sublime-workspace
*.tags
*.pyc
*.swp
*.swo
*.iml
*.DS_Store
*.vs
*.json

CMakeLists.txt.user
Data/ImGui.ini
